<div class="inner">
    <h2 ><%- title %><hr></h2>
    <ul class="files">

    </ul>
    <label class="button">
        <hr>
        Add <%- multiple ? "Files" : "A File" %>
        <input type="file" <%- multiple ? 'multiple' : '' %>
    </label>
</div>
