.gridContainer {
    background-image: url(../image/grid.png);
}

.grid {

    table {
        border-collapse: collapse;
    }

    td {
        border: solid 1px rgb(200,200,200);
        overflow: hidden;
        max-width: 130px;
        padding: 5px;

        span {
            padding: 4px;
            white-space: nowrap;
        }

        &, span {
            background-color: white;
            font-size: 1.2rem;
        }
    }

    // color every other slightly bluegray
    tr:nth-child(2n - 1) td, {
        &, span {
            background-color: rgb(240,244,249);
        }
    }

    // show entire cell on hover, change color
    td:hover {
        overflow: visible;
        z-index: 10;

        &, span {
            background-color: rgb(240,240,240) !important;
        }
    }
}
