@import "flex";
@import "expand";
@import "section";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    font-weight: thin;
    font-size: 14pt;
}
.section {

    .side {
        width: 250px;
        border-right: solid black 15px;
        text-align: center;
    }

    .gridContainer {
        overflow: scroll;
    }

    .image {
        width: 64px;
        height: 64px;
        margin: 50px auto 10px auto;
    }

    p {
        display: block;
        font-size: 1.2rem;
        font-weight: thin;
        margin: 10px auto;
        width: 200px;
    }
}

.grid-label {
    display: block;
    text-align: center;
    max-width: 60%;
    padding: 15px;
    margin: 10% auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(200,200,200,.5);
}

label[upload] {
    cursor: pointer;

    transition: all .5s ease;

    &:hover {
        box-shadow: 0px 2px 7px rgba(200,200,200,.5);
        top: -1px;
    }

    * {
        cursor: pointer;
    }
}
