<!DOCTYPE html>
<html>
    <head>
        <title>Gradebook Merger</title>
        <link href="style/style.css" rel="stylesheet" type="text/css" />
        <link href="style/css-tooltips.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <div id="header">
            <div class="container">
                <img id="logo" src="image/uwlogo.png">
                <a>Gradebook Merge</a>
            </div>
        </div>
        <div id="container" class="container">
                <div id="gradebook">

                </div>
                <div id="external">

                </div>
                <div id="output">
                    <h2 id="checkGrade">1. Add gradebook file.</h2>
                    <h2 id="checkScore">2. Add grade files.</h2>
                    <h2 id="checkDownload">3. <a id="download">Download.</a></h2>
                </div>
        </div>

        <script src="../lib/lodash/dist/lodash.js"></script>
        <script src="../lib/papa-parse/papaparse.js"></script>
        <script src="script/app.js"></script>
        <script src="script/Uploader.js"></script>
        <script src="script/Gradebook.js"></script>

        <script type="text/template" id="uploader">
            <div class="inner">
                <h2 ><%- title %><hr></h2>
                <ul class="files">

                </ul>
                <label class="button">
                    <hr>
                    Add <%- multiple ? "Files" : "A File" %>
                    <input type="file" <%- multiple ? 'multiple' : '' %>
                </label>
            </div>
        </script>

        <script type="text/template" id="uploader_files">
            <% _.each(files, function(file, i) { %>
                <li <% if (file.error) { %> class="error tip-below" <% } %> data-tip="<%- file.error %>" >
                    <span class="name"><%- file.file.name %></span>
                    <span class="remove" data-index="<%- i %>">remove</span>
                </li>
            <% }); %>
        </script>
    </body>
</html>
